[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alagitpull = "*"
Sphinx = ">=2.2.0"
isort = "*"
flake8 = "*"
pytest = "*"
unihan-db = {path = ".",editable = true}
sphinx-issues = "*"

[packages]
appdirs = "*"
unihan-etl = "~=0.10.0"
SQLAlchemy = "*"

[requires]
python_version = "3"
