<div class="sidebar-tree projects" id="sidebar-projects">
  <p class="caption" role="heading">
    <span class="caption-text"
      >team git-pull / <a href="https://www.git-pull.com/">Tony Narlock</a></span
    >:
  </p>

  <p class="indented-block">
    <span class="project-name">vcs-python</span>
    <a class="internal" href="https://vcspull.git-pull.com" class="current">vcspull</a>
    (<a class="internal" href="https://libvcs.git-pull.com">libvcs</a>),
    <a class="internal" href="https://g.git-pull.com">g</a>
  </p>
  <p class="indented-block">
    <span class="project-name">tmux-python</span>
    <a class="internal" href="https://tmuxp.git-pull.com" class="current">tmuxp</a>
    (<a class="internal" href="https://libtmux.git-pull.com">libtmux</a>)
  </p>

  <p class="indented-block">
    <span class="project-name">cihai</span>
    <span class="indent">
      <a class="internal" href="https://unihan-etl.git-pull.com" class="current">unihan-etl</a>
      (<a class="internal" href="https://unihan-db.git-pull.com">db</a>)
    </span>
    <span class="indent">
      <a class="internal" href="https://cihai.git-pull.com" class="current">cihai</a>
      (<a class="internal" href="https://cihai-cli.git-pull.com">cli</a>)
    </span>
  </p>
</div>
<script type="text/javascript">
(() => {
  console.log(window.location.hostname)
  const sidebar = document.getElementById("sidebar-projects")
  window.sidebar = sidebar
  sidebar.querySelectorAll(`a[href*=${window.location.hostname}]`)
    .forEach((link) => {
      if (!link.classList.contains("active")) {
        const d = document.createElement('span');
        d.innerHTML = link.innerHTML;
        d.classList.add("active");
        link.parentNode.replaceChild(d, link);
      }
    });
})()
</script>
